*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-size: 10px;
    
    /* _________________Colors_________________ */
    --color-primary: hsl(231,15%,19%);
    --color-primary-m-light:hsl(231,15%,19%,.55);
    --color-primary-m-dark:hsl(213,15%,19%,.85);

    --color-secondary:rgb(255,170,6);
    --color-secondary-m-light:rgba(255,170,6,.55);
    --color-secondary-m-dark:rgba(255,170,6,.85);

        --color-tertiary:#1a508b;
    --color-tertiary-m-light:hsla(211,68%,32%,.55);
    --color-tertiary-m-dark:hsla(211,68%,32%,.85);

    --color-quaternary:rgb(231,231,230);
    --color-quaternary-m-light:rgba(231,231,230,.55);
    --color-quaternary-m-dark:rgba(231,231,230,.85);

    /* ____________________Padding___________________ */
    --padding-xl:calc(2rem + 6vh) calc(2rem + 6vw);
    --padding-l:calc(3rem + 4vh) calc(3rem + 4vw);
    --padding-m:calc(2rem + 2vh) calc(2rem + 2vw);
    --padding-s:calc(1rem + 1vh) calc(1rem + 1vw);
    /* ____________________Font size___________________ */
    --font-size-l:calc(1.5rem + 2vw);
    --font-size-m:calc(1rem + 1.5vw);
    --font-size-s:calc(1rem + 1vw);
    --font-size-xs:calc(0.5rem + 0.8vw);
    /* ____________________Font family___________________ */
    --font-family-main: "Fredoka" , sans-serif;
    --font-family-sub: "Poppins" , sans-serif;
}
body{
    font-family: var(--font-family-sub);
    line-height: 1.5;
}
.container{
    display: grid;
    grid-template-columns: 
    [container-start] 1fr
    [center-start] 
    repeat(10,[col-start] minmax(min-content,11rem) [col-end])
    [center-end] 
    1fr [container-end];
    grid-template-rows: repeat(6,min-content);
    background-color: var(--color-primary);
}
a{
    text-decoration: none;
    color: var(--color-quaternary);
}
li{
    list-style: none;
}
/* _______________________________________________ Header */
#main-header{
    background-color: var(--color-primary);
    grid-column: center-start/center-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: var(--padding-s);
}
.main-header__logo h2{
    font-size: 3rem;
    color:var(--color-quaternary);
    font-family: var(--font-family-main);
}
.main-header__logo span{
    color: var(--color-secondary);
}
.main-header__nav{
    width: 80%;
    z-index: 1;
    display: flex;
    justify-content:space-between;
}
.main-header__nav--links{
    display: flex;
    gap: calc(.5rem + 1vw);
    align-items: center;
}
.main-header__nav--links__link a{
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem;
    border-radius:.5rem;
    transition: all .25s ease-in-out;
}
.main-header__nav--links__link a:hover{
    background-color: var(--color-secondary);
}
.main-header__nav--registration a{
    font-size: 1.5rem;
    padding:1.5rem 2.5rem;
}
.main-header__nav--registration a:last-child{
    background-color: var(--color-secondary);
    border-radius:.5rem;
}
/* _______________________________________________ Hero */
.hero{
    background-color: var(--color-tertiary);
    grid-column: center-start/center-end;
    padding: var(--padding-l);
    padding-bottom: 11.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 3vw;
    color: var(--color-quaternary);
    clip-path: polygon(0 0 , 100% 0,100% 85%,50% 100%,0 85%);
}
.hero__content{
    flex-basis: 35rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.hero__content--rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-star,
.hero__content__rating__text span{
    color:var(--color-secondary);
}
.fa-star,
.hero__content__rating__text  p{
    font-size: 1.3rem;
}
#main__title{
    font-size:calc(4rem + .5vw);
    font-weight: 500;
    font-family: var(--font-family-main);
}
#main__para{
    font-size: var(--font-size-s);
}
.hero__content--trial{
    align-self: flex-start;
    padding:1.5rem 2.5rem;
    background: none;
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
    font-size: var(--font-size-s);
    cursor: pointer;
    transition: all 0.35s ease-in-out;
}
.hero__content--trial:hover{
    background-color: var(--color-primary);
}
.hero__content--geting-started,
.hero__content--geting-started__credit-card,
.hero__content--geting-started__free-templates{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.hero__content--geting-started__credit-card p,
.hero__content--geting-started__free-templates p,
.fa-check-circle{
    font-size: var(--font-size-s);
}
.fa-check-circle{
    color: var(--color-secondary);
}
.hero__vec{
    flex-basis: 35rem;
    flex-grow: 1;
}
.hero__vec img{
    width: 100%;
    height: 100%;
}
/* _______________________________________________ Features */
.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding-l);
    grid-column: center-start/center-end;
    gap: 5rem;
}
.features__title{
    color: var(--color-quaternary);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-family: var(--font-family-main);
}
.features__content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem , 1fr));
    gap: 5rem;
}
.features__content--efficiency,
.features__content--customizability,
.features__content--adeptability{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(2,min-content);
    gap: 2rem;
}
.features__content--efficiency h3,
.features__content--customizability h3,
.features__content--adeptability h3{
   font-size: var(--font-size-s);
   grid-column: 2 / -1;
   font-weight: 300;
   align-self: start;
}
.fa-clock,
.fa-file-code,
.fa-mobile,
.features__content--efficiency h3,
.features__content--customizability h3,
.features__content--adeptability h3{
    color: var(--color-secondary);
}
.fa-clock,
.fa-file-code,
.fa-mobile{
    font-size: 3.5rem;
}
.features__content--efficiency p,
.features__content--customizability p,
.features__content--adeptability p{
   font-size: var(--font-size-xs);
   grid-column: 1 / -1;
   color: var(--color-quaternary);
}
/* _______________________________________________ Diversify */
.diversify{
    background-color: var(--color-secondary);
    grid-column: center-start/center-end;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:calc(2rem + 2vh) 0 0 calc((2rem + 2vh));
    gap: 3rem;
      clip-path: polygon(
        0 0,
        15% 0,
        27% 5%,
        39% 0%,
        51% 5%,
        63% 0%,
        75% 5%,
        85% 0%,
        100% 0%,
        100% 100%,
        0 100%,
        0 0%
    );
}
.diversify__content{
    flex-basis:50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.diversify__content--title{
    font-size: var(--font-size-m);
    font-weight: 500;
    color: var(--color-primary);
    font-family: var(--font-family-main);
}
.diversify__content--para{
    font-size: var(--font-size-xs);
}
.diversify__content--link{
     background-color:var(--color-tertiary);
     align-self: flex-start;
     color: #fff;
     padding: 1.5rem 2.5rem;
     font-size: var(--font-size-s);
}
.diversify__img{
    flex-basis: 50%;
    background-color: var(--color-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.diversify__img img{
    width: 80%;
    height: 80%;
    object-fit: cover;
}
/* _______________________________________________ Testimonials */
.testimonials{
    height: 400px;
    background-color: var(--color-tertiary);
    grid-column: center-start/center-end;
}
/* _______________________________________________ Footer */
#footer{
    height: 400px;
    background-color: var(--color-secondary);
    grid-column: center-start/center-end;
}
/* _____________________________ Media Queries ______________________________________ */

/* _____________________________ Media Queries 500px ______________________________________ */
    /* _______________-_-_Hero_-_-_____________*/
@media screen and (max-width:500px) {
    .hero{
        padding:2rem;
        clip-path: polygon(0 0 , 100% 0,100% 93%,50% 100%,0 93%);
    }
}
/* _____________________________ Media Queries 800px ______________________________________ */

@media screen and (max-width:800px) {
    /* _______________-_-_Toggling Nav Bar_-_-_____________*/
    .hamburger{
        width: 5rem;
        height: 5rem;
        position: fixed;
        top: 3rem;
        right: 6rem;
        z-index: 1;
        padding: .6rem;
        cursor: pointer;
    }
    .hamburger-line{
        width: 3rem;
        height: .3rem;
        background-color: var(--color-quaternary);
        position: absolute;
    }
    .hamburger-line:first-child{
        width: 6rem;
        top: 0;
        left: 0;
        transition: all .35s ease-in-out;
    }
    .hamburger-line:nth-child(2){
        width: 2.5rem;
        top: 1rem;
        left: 0;
        transition: all .35s ease-in-out;
    }
    .hamburger-line:nth-child(3){
        width: 4rem;
        top: 2rem;
        left: 0;
        transition: all .35s ease-in-out;
    }
    .line-1{
        transform: rotate(45deg) translate(.3rem, 1.5rem);
        width:3.5rem !important;
    }
    .line-2{
        visibility: hidden;
    }
    .line-3{
        transform: rotate(-45deg) translate(0, -1.15rem);
        width:3.5rem !important;

    }
    .block.visible{
        transform: translateX(0);
    }
    /* _______________-_-_Nav Links_-_-____________________ */
    .main-header__nav,
    .main-header__nav--links,
    .main-header__nav--registration{
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        gap: 3rem;
    }
    .main-header__nav{
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        background-color:var(--color-primary);
        height: 100vh;
        padding: 4rem;
        transform: translateX(100rem);
        transition: all .55s cubic-bezier(1,0,0,1);
    }
        /* _______________-_-_Features_-_-_____________*/
        .features__title{
            font-size: 3rem;
            text-align: center;
        }
        .diversify__content--title{
            font-size: 3rem;
        }
        .features__content--efficiency h3,
        .features__content--customizability h3,
        .features__content--adeptability h3{
            font-size: 2rem;
}
        .features__content--efficiency p,
        .features__content--customizability p,
        .features__content--adeptability p{
            font-size: 1.5rem;
}
    /* _______________-_-_Diversify_-_-_____________*/
    @media screen and (max-width:870px){
    .diversify{
        flex-direction: column;
        padding-left: 0;
        padding-top: 5rem;
        padding: var(--padding-l);
        align-items: flex-start;
    }
   .diversify__content{
    padding-bottom: 0;
   }
    .diversify__content--title{
        font-size: 3rem;
    }
    .diversify__content--para{
        font-size: 1.2rem;
    }
    .diversify__content--link{
        padding: 1rem 2rem;
    }
    .diversify__img{
        align-items: flex-start;
        width: 100%;
    }
    .diversify__img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
}
/* _____________________________ Media Queries 1000px ______________________________________ */
    /* _______________-_-_Hero_-_-_____________*/
@media screen and (min-width:1000px) {
    .hero__content--geting-started__credit-card p,
    .hero__content--geting-started__free-templates p,
    .fa-check-circle{
    font-size: var(--font-size-xs);
}
    .hero__content--trial{
    padding:1.3rem 2.3rem;
    font-size: var(--font-size-xs);
}
.features__content--efficiency p,
.features__content--customizability p,
.features__content--adeptability p,
.diversify__content--para,
.diversify__content--link{
    font-size: 1.5rem;

}
}




