*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-size: 10px;
    
    /* _________________Colors_________________ */
    --color-primary:hsl(232,15%,19%);
    --color-primary-m-light:hsl(231,15%,19%,.55);
    --color-primary-m-dark:hsl(213,15%,19%,.85);

    --color-secondary:rgb(255,170,6);
    --color-secondary-m-light:rgba(255,170,6,.55);
    --color-secondary-m-dark:rgba(255,170,6,.85);

    --color-tertiary:#1a508b;
    --color-tertiary-m-light:hsla(211,68%,32%,.55);
    --color-tertiary-m-dark:hsla(211,68%,32%,.85);

    --color-quaternary:rgb(231,231,230);
    --color-quaternary-m-light:rgba(231,231,230,.55);
    --color-quaternary-m-dark:rgba(231,231,230,.85);

    /* ____________________Padding___________________ */
    --padding-xl:calc(2rem + 6vh) calc(2rem + 6vw);
    --padding-l:calc(3rem + 4vh) calc(3rem + 4vw);
    --padding-m:calc(2rem + 2vh) calc(2rem + 2vw);
    --padding-s:calc(1rem + 1vh) calc(1rem + 1vw);
    /* ____________________Font size___________________ */
    --font-size-l:calc(1.5rem + 2vw);
    --font-size-m:calc(1rem + 1.5vw);
    --font-size-s:calc(1rem + 1vw);
    --font-size-xs:calc(0.5rem + 0.8vw);
    /* ____________________Font family___________________ */
    --font-family-main: "Fredoka" , sans-serif;
    --font-family-sub: "Poppins" , sans-serif;
}
body{
    font-family: var(--font-family-sub);
    line-height: 1.5;
}
.container{
    display: grid;
    grid-template-columns: 
    [container-start] 1fr
    [center-start] 
    repeat(10,[col-start] minmax(min-content,11rem) [col-end])
    [center-end] 
    1fr [container-end];
    grid-template-rows: repeat(6,min-content);
    background-color: var(--color-primary);
}
a{
    text-decoration: none;
    color: var(--color-quaternary);
}
li{
    list-style: none;
}
/* _______________________________________________ Header */
#main-header{
    background-color: var(--color-primary);
    grid-column: center-start/center-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: var(--padding-s);
}
.main-header__logo h2{
    font-size: 3rem;
    color:var(--color-quaternary);
    font-family: var(--font-family-main);
}
.main-header__logo span{
    color: var(--color-secondary);
}
.main-header__nav{
    width: 80%;
    z-index: 1;
    display: flex;
    justify-content:space-between;
}
.main-header__nav--links{
    display: flex;
    gap: calc(.5rem + 1vw);
    align-items: center;
}
.main-header__nav--links a{
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem;
    border-radius:.5rem;
    transition: all .25s ease-in-out;
}
.main-header__nav--links a:hover{
    background-color: var(--color-secondary);
}
.main-header__nav--registration{
    display: flex;
    gap: 1rem;
}
.main-header__nav--registration a{
    font-size: 1.5rem;
    padding:1.5rem 2.5rem;
}
.main-header__nav--registration a:last-child{
    background-color: var(--color-secondary);
    border-radius: .5rem;
}
/* _______________________________________________ Hero */
.hero{
    height: 400px;
    background-color: var(--color-tertiary);
    grid-column: center-start/center-end;
}
/* _______________________________________________ Features */
.features{
    height: 400px;
    background-color: var(--color-quaternary);
    grid-column: center-start/center-end;
}
/* _______________________________________________ Diversify */
.diversify{
    height: 400px;
    background-color: var(--color-tertiary-m-light);
    grid-column: center-start/center-end;
}
/* _______________________________________________ Testimonials */
.testimonials{
    height: 400px;
    background-color: var(--color-quaternary-m-light);
    grid-column: center-start/center-end;
}
/* _______________________________________________ Footer */
#footer{
    height: 400px;
    background-color: var(--color-secondary);
    grid-column: center-start/center-end;
}
/* _____________________________ Media Queries ______________________________________ */
@media screen and (max-width:800px) {
    /* _______________-_-_Toggling Nav Bar_-_-_____________*/
    .hamburger{
        width: 5rem;
        height: 5rem;
        position: fixed;
        top: 3rem;
        right: 6rem;
        z-index: 1;
        padding: .6rem;
        cursor: pointer;
    }
    .hamburger-line{
        width: 3rem;
        height: .3rem;
        background-color: var(--color-quaternary);
        position: absolute;
    }
    .hamburger-line:first-child{
        width: 6rem;
        top: 0;
        left: 0;
        transition: all .35s ease-in-out;
    }
    .hamburger-line:nth-child(2){
        width: 2.5rem;
        top: 1rem;
        left: 0;
        transition: all .35s ease-in-out;
    }
    .hamburger-line:nth-child(3){
        width: 4rem;
        top: 2rem;
        left: 0;
        transition: all .35s ease-in-out;
    }
    .line-1{
        transform: rotate(45deg) translate(.3rem, 1.5rem);
        width:3.5rem !important;
    }
    .line-2{
        visibility: hidden;
    }
    .line-3{
        transform: rotate(-45deg) translate(0, -1.15rem);
        width:3.5rem !important;

    }
    .block.visible{
        transform: translateX(0);
    }
    /* _______________-_-_Nav Links_-_-____________________ */
    .main-header__nav,
    .main-header__nav--links,
    .main-header__nav--registration{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        gap: 3rem;
    }
    .main-header__nav{
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        background-color: var(--color-primary);
        height: 100vh;
        padding: 4rem;
        transform: translateX(100rem);
        transition: all .55s cubic-bezier(1,0,0,1);
    }
}




